# Python First Class

This is Python First class.

In [3]:
print(123) #integer

123

In [4]:
print(23.4) #float

23.4

In [5]:
print('Hello PIAIC') #string

Hello PIAIC

In [6]:
print("Hello World",'bc', 123, 'a') #string

Hello World bc 123 a

In [7]:
print(True) #bool

True

In [8]:
print()  #shift + tab

In [9]:
print(123,3.45, 'Hello', False)

123 3.45 Hello False

In [10]:
print(123,3.45, 'Hello', False, sep = '')

1233.45HelloFalse

In [11]:
print(123,3.45, 'Hello', False, sep = '==')

123==3.45==Hello==False

In [12]:
print(123,3.45, 'Hello', False, sep = 'I am a Seperator')

123I am a Seperator3.45I am a SeperatorHelloI am a SeperatorFalse

In [17]:
print('Hello World')
print('Hello Python')
print('Hello PIAIC')

Hello World
Hello Python
Hello PIAIC

In [13]:
print('Hello World', end = '')
print('Hello Python', end = '')
print('Hello PIAIC')

Hello WorldHello PythonHello PIAIC

In [14]:
print('Hello World', end = '\t')
print('Hello Python', end = '\t\t')
print('Hello PIAIC')

Hello World	Hello Python		Hello PIAIC

# Assignment-1

You have to search all Escape Characters of Python and have to Implement them as well.

# Variables

In [16]:
age = 26

In [17]:
print(age)

26

In [18]:
name = 'Nasir Hussain'

In [19]:
result = True

In [20]:
1name = 'test'

SyntaxError: invalid syntax (<ipython-input-20-f1ddaa2ff1bf>, line 1)

In [21]:
n1a2m3e4 = 'Haseeb'

In [22]:
@name = 'Shahzad'

SyntaxError: invalid syntax (<ipython-input-22-afff2066e52c>, line 1)

In [23]:
na$me = 'Hamza'

SyntaxError: invalid syntax (<ipython-input-23-d7d8f57442f7>, line 1)

In [24]:
_ = 5

In [25]:
na_me = 'test'

In [26]:
na me = 'test'

SyntaxError: invalid syntax (<ipython-input-26-ea8bfbccaaf4>, line 1)

In [27]:
True = 234

SyntaxError: can't assign to keyword (<ipython-input-27-eb7548455eff>, line 1)

In [28]:
true = 234

In [29]:
x = 4
y = 5
z = x + y

In [30]:
print(z)

9

In [31]:
a = 4
b = 4.5
c = a + b

In [37]:
print(c)

8.5

In [32]:
a = 4
b = 'zunaib'
c = a * b

In [35]:
a = 4
b = 'zunaib'
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
c = 4 + 5 + 6.7

In [43]:
c
print('a')

a

In [39]:
print(c)

15.7

In [44]:
4/4 # answer will be float

1.0

In [45]:
4 // 4

1

In [47]:
11 / 3

3.6666666666666665

In [48]:
11 // 3

3

In [44]:
round((10 / 3), 3)

3.333

In [43]:
10//3

3

In [47]:
print('apple ' * 5)

apple apple apple apple apple

# Concatenation

In [49]:
a = '10'
b = '20'

In [50]:
type(a) # to check the datatype

str

In [51]:
a + b

'1020'

In [52]:
age = 26
name = 'Ali'
print('My name is name and my age is age')

My name is name and my age is age

In [1]:
name = input('What is your name? ')
age = int(input('What is your age? '))


print('My name is ' + name + ' and my age is ' + str(age))
print(age - 10)


print('my name is', name , 'and my age is ', age)

What is your name? ali
What is your age? 12
My name is ali and my age is 12
2
my name is ali and my age is  12

In [1]:
name = input('What is your name? ')
age = int(input('What is your age? '))


print('My name is ' + name + ' and my age is ' + str(age))

What is your name? ali
What is your age? 29
My name is ali and my age is 29

In [2]:
x = input() # type casting
type(x)

12

str

In [3]:
x = int(input()) # type casting
type(x)

45

int

In [4]:
name = input('What is your name? ')
age = int(input('What is your age? '))

print('My name is {0} and my age is {1}'.format(name,age))  #place holder {}

What is your name? ali
What is your age? 89
My name is ali and my age is 89

In [68]:
name = input('What is your name? ')
age = int(input('What is your age? '))

print(f'My name is {name} and my age is {age}')

What is your name? asd
What is your age? 34
My name is asd and my age is 34